*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: #9e8e8e;
}

#panel{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

#ptop{
    padding: 0vw 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    height: 100px;
    width: 100%;
    background-color: #0aaa28;
}

.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}

.elem h2{
    font-style: 15px;
    font-weight: 500;
}

.box{
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    color: #1d9138;
    font-weight: 600;
    font-size: 20px;
}

#pbtm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    height: calc(100% - 100px);
    width: 100%;
    padding: 20px;
    
}

.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    color: #fff;
    background-color: #0aaa28;
    border-radius: 50%;
    font-size: 18px;
    font-weight: 500;
}

.bubble:hover{
    cursor: pointer;
    background-color: #07861e;
}